OPENAI_API_KEY=
OPENDART_API_KEY=
ECOS_API_KEY=
KRX_API_KEY=
KRX_API_BASE_URL=https://data-dbg.krx.co.kr/svc/apis
KIWOOM_APP_KEY=
KIWOOM_APP_SECRET=
KIWOOM_API_BASE_URL=https://api.kiwoom.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REFLO_DATABASE_URL=postgresql://reflo:reflo_local@127.0.0.1:5432/reflo
REFLO_S3_ENDPOINT=http://127.0.0.1:9000
REFLO_S3_PUBLIC_ENDPOINT=http://127.0.0.1:9000
REFLO_S3_REGION=us-east-1
REFLO_S3_BUCKET=reflo-local
REFLO_S3_ACCESS_KEY=reflo_local
REFLO_S3_SECRET_KEY=reflo_local_change_me
REFLO_TEMPORAL_ADDRESS=127.0.0.1:7233
REFLO_TEMPORAL_NAMESPACE=default
REFLO_WORKER_TOKEN=reflo-local-worker-token-change-me
REFLO_INTERNAL_API_URL=http://127.0.0.1:3000
REFLO_CLAMAV_HOST=127.0.0.1
REFLO_CLAMAV_PORT=3310
REFLO_PDF_WORKER_URL=http://127.0.0.1:8091
REFLO_EXCEL_WORKER_URL=http://127.0.0.1:8092
